*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid magenta 5px;
    border-top:solid magenta 5px;
    border-left: solid #FD1D1D 5px;
    border-right: solid #FD1D1D 5px;

    width: 450px;
    margin: 50px auto;
}
.button{
    margin: 0 auto;
    height: 30px;
    width: 100px;
    font-size:larger;
    background-color: #007BFF;
}
.button:hover{
    cursor:pointer;
    background-color:#0056b3;
}
#title{
    margin-top: 15px;
    font-size: x-large;
}
#form{
    text-align: center;
    
}
#result{
    color: black;
    margin-top: 10px;
    font-size: larger;
}
.field-1{
    margin-top: 30px;
    margin-bottom: 10px;
}
.field-2{
    margin-bottom: 15px;
}
.field-1,.field-2{
    font-size: x-large;
}

